<div id="datadownload" class="section">
    <h2>Data Download Section</h2>
    <form id="download-form">
      <!-- <div class="form-group">
        <label for="timeframes-dropdown">Select Time Frames:</label>
        <select id="timeframes-dropdown" class="form-control" multiple>
          <option value="1m">One minute (1m)</option>
          <option value="3m">Three minutes (3m)</option>
          <option value="5m">Five minutes (5m)</option>
          <option value="10m">Ten minutes (10m)</option>
          <option value="15m">Fifteen minutes (15m)</option>
          <option value="30m">Thirty minutes (30m)</option>
          <option value="1h">One hour (1h)</option>
          <option value="2h">Two hours (2h)</option>
          <option value="4h">Four hours (4h)</option>
          <option value="6h">Six hours (6h)</option>
          <option value="8h">Eight hours (8h)</option>
          <option value="12h">Twelve hours (12h)</option>
          <option value="1d">One day (1d)</option>
          <option value="3d">Three days (3d)</option>
          <option value="1w">One week (1w)</option>
          <option value="1M">One month (1M)</option>
        </select>
      </div> -->
      <div class="form-group">
        <label for="days-back">Number of Days:</label>
        <input type="number" class="form-control" id="days-back" name="days-back" min="1" required>
      </div>
      <button id="download-btn" class="btn btn-primary">Download Data</button>
    </form>
  </div>
  