<!doctype html>
<html lang="en">
  <head>
    {% extends 'base.html' %}
    <title>My First Flask Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <!-- Custom JavaScript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
    <main class="container">
      {% block content %}
      {% include 'configuration.html' %}
      {% include 'datadownload.html' %}
      <div id="help" class="section" style="display:none;">
        <h2>Help Section</h2>
        <p>This is the help section.</p>
        <button id="help-section-button" class="btn btn-primary">Click me</button>
      </div>
      <div id="test" class="section" style="display:none;">
        <h2>Test Section</h2>
        <p>This is the test section.</p>
        <button id="test-section-button" class="btn btn-primary">Test Button in Test Section</button>
        <div id="test-result"></div>

      {% endblock %}
    </main>
  </body>
</html>
